body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #2c2c2c;
    padding: 20px;
    border: 3px solid #900;
    border-radius: 10px;
    box-shadow: 0 0 10px #900;
    max-width: 400px;
    margin: auto; /* Centraliza o formulário */
}

h1 {
    color: rgba(255,255,255);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Campos ocupam o mesmo espaço */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.typewriter-effect {
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-size: 1.2rem;
    margin-top: 5px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #900;
    border-radius: 5px;
    background-color: #1b1b1b;
    color: white;
    outline: none;
    width: 100%; /* Garante que todos inputs tenham o mesmo tamanho */
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

input:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px #ff0000;
}


input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}
button {
    background-color: #900;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff0000;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px; /* Espaçamento entre os dados */
    margin-top: 20px;
    justify-content: center; /* Centraliza os dados horizontalmente */
}

.dice {
    position: relative;
    width: 123px;
    height: 123px;
    background-size: cover;
    background-position: center;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice.normal {
    background-image: url("https://kaionobre.github.io/VTM---Roll-dice/static/img/dado-10-lados-preto.png");
}
.dice.fome {
    background-image: url("https://kaionobre.github.io/VTM---Roll-dice/static/img/dado-10-lados.png");
}

.dice-result {
    position: absolute;

    width: 50px; /* Reduzido de 50px */
    height: 50px; /* Reduzido de 50px */
    background-size: contain; /* Garante que a imagem fique contida e proporcional */
    background-repeat: no-repeat; /* Evita repetições */
    background-position: center;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.results {
    margin-top: 20px;
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #900;
    color: white;
    text-align: left;
    max-width: 500px;
    font-family: 'Courier New', Courier, monospace;
}

.message {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid #900;
    border-radius: 5px;
    background-color: #2c2c2c;
    box-shadow: 0 0 10px #900;
}


.success {
    color: #00ff00; /* Verde para sucesso */
    text-shadow: rgb(28, 70, 3);
    font-weight: bold;
}

.failure {
    color: #ff0000; /* Vermelho para falha */
    text-shadow: #900;
    font-weight: bold;
}

@keyframes blink {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}